{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Post Assignment</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
    KKPP School Management Portal
</div>
    <div class="navbar">

    <a href="{% url 'teacher_dashboard' %}">
        Dashboard
    </a>

    <a href="{% url 'attendance' %}">
        Attendance
    </a>

    <a href="{% url 'all_attendance' %}">
        Attendance Records
    </a>

    <a href="{% url 'marks' %}">
        Enter Marks
    </a>

    <a href="{% url 'view_marks' %}">
        View Marks
    </a>

    <a href="{% url 'add_student' %}">
        Add Student
    </a>

    <a href="{% url 'view_students' %}">
        View Students
    </a>

    <a href="{% url 'announcements' %}">
        Announcements
    </a>

    <a href="{% url 'assignments' %}">
        Assignments
    </a>

</div>

<div class="card center">

<h2>Create Assignment</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<hr>

<h2>All Assignments</h2>

{% for a in assignments %}
    <div>
        <h3>{{ a.title }}</h3>
        <p>{{ a.description }}</p>
        <a href="{% url 'edit_assignment' a.id %}">Edit</a>
    <a href="{% url 'delete_assignment' a.id %}">Delete</a>
    </div>
    <hr>
{% empty %}
    <p>No assignments yet.</p>
{% endfor %}

</div>

<script src="{% static 'js/script.js' %}"></script>

    <div class="footer">
        © 2026 KKPP School Management Portal
    </div>

</body>
</html>