{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>School Calendar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>


<div class="header">
    KKPP School Management Portal - Student Portal
</div>

<div class="navbar">

    <a href="{% url 'student_dashboard' %}">
        Dashboard
    </a>

    <a href="{% url 'student_view_attendance' %}">
        Attendance
    </a>

    <a href="{% url 'student_view_marks' %}">
        Marks
    </a>

    <a href="{% url 'view_assignments' %}">
        Assignments
    </a>

    <a href="{% url 'view_announcements' %}">
        Announcements
    </a>

    <a href="{% url 'profile' %}">
        Profile
    </a>

    <a href="{% url 'report_card' %}">
        Report Card
    </a>

    <a href="{% url 'view_calendar' %}">
        Calendar
    </a>

    <a href="{% url 'logout' %}">
        Logout
    </a>

</div>

<div class="card center">

    <h2>Academic Calendar</h2>

{% for event in events %}

<div class="feature-card">

<h3>
{{ event.title }}
</h3>

<p>
{{ event.event_date }}
</p>

<p>
{{ event.description }}
</p>

</div>

{% empty %}

<p>
No upcoming events.
</p>

{% endfor %}

</div>

<div class="footer">
    © 2026 KKPP School Management Portal
</div>

<script>

let events =
JSON.parse(
localStorage.getItem(
"calendarEvents"
)
) || [];

let table =
document.getElementById(
"calendarTable"
);

events.forEach(event => {

table.innerHTML += `
<tr>
    <td>${event.date}</td>
    <td>${event.name}</td>
</tr>
`;

});

</script>

</body>
</html>